<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		.apache, th, td{
				border: 1px solid black;
		}
		
	</style>
	<script th:inline="javascript">
	/*<![CDATA[*/
	function redirect1(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/professorControlPanel/'+id;
	}	
	/*]]>*/
	</script>
</head>
<body> 
<button type="submit" onclick="redirect1()">Back</button>
	<table class="apache" >
	<tr>
		<th th:text="${Texts.get(0)}"/>
		<th th:text="${Texts.get(1)}"/>
	</tr>	
	<tr>
		<td th:text="${Texts.get(2)}"/>
		<td th:text="${Texts.get(3)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(4)}"/>
		<td th:text="${Texts.get(5)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(6)}"/>
		<td th:text="${Texts.get(7)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(8)}"/>
		<td th:text="${Texts.get(9)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(10)}"/>
		<td th:text="${Texts.get(11)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(12)}"/>
		<td th:text="${Texts.get(13)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(14)}"/>
		<td th:text="${Texts.get(15)}"/>
	</tr>
	<tr>
		<td th:text="${Texts.get(16)}"/>
		<td th:text="${Texts.get(17)}"/>
	</tr>
	</table>

</body>
</html>