<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Professor Control Panel</title>
	<style>
		.butt1{
    position:absolute;
    left:15%;
    top:3%;
    
}


	</style>
</head>
<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	function goBack() {
  window.history.back();
}	
	/*]]>*/
</script>
		<form th:action="@{/apache/__${id}__}">
  <nav class="navbar navbar-inverse  navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8080/logInProfessor">Log Out</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" onclick="goBack()">Home</a></li>
            <li><a href="#about" onclick="redirect1()">Grades</a></li>
            <li><a href="#" onclick="redirect2()">Create course</a></li>
            <li class="active"><a href="#">Upload course info</a></li>
           
          </ul>
  
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<section class="banner-section">
</section>
<section class="post-content-section">
    <div class="container">

   	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>

	<div>
		<form method="post" enctype="multipart/form-data" th:action="@{/professorUpload/__${id}__}">
			Upload course
			<table>
				<tr><td></td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" onclick="redirect1()" value="Upload" /></td></tr>
				<tr><td></td><td><input type="button" style="width: 200px;" onclick="goBack()" value="Back to control panel" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>
        
</section>

</body>

</html>