<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Professor Control Panel</title>
<style>
.butt1 {
	position: absolute;
	left: 15%;
	top: 3%;
}

.title {
	left: 18%;
	top: 16%;
}
.title2 {
	left: 12%;
	top: 16%;
}
</style>
</head>
<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	function redirect1(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/grades/'+id;
	}	
	/*]]>*/
	/*<![CDATA[*/
	function redirect2(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/professorCoursesView/'+id;
	}
	/*]]>*/
	/*<![CDATA[*/
	function redirect3(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/professorUpload/'+id;
	}	
	/*]]>*/
	/*<![CDATA[*/
	function redirect4(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/apacheDel/'+id;
	}	
	/*]]>*/
	
	</script>

<form th:action="@{/professorCoursesView/__${id}__}">
  <nav class="navbar navbar-inverse  navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8080/logInProfessor">Log Out</a>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" onclick="goBack()">Home</a></li>
            <li><a href="#about" onclick="redirect1()">Grades</a></li>
            <li><a href="#" onclick="redirect2()">Create course</a></li>
            <li><a href="#" onclick="redirect3()">Upload course info</a></li>
           
          </ul>
  
        </div>
      </div>
    </nav>

<section class="banner-section">
</section>
<section class="post-content-section">
    <div class="container">

             <div class="cncourse">

<font size="6" color="black">Welcome, </font><font th:text="${name}" size="6" color="black"></font><br>
<font class=title2>My course is: </font> <b><font class=title
			th:text="${title}"></font></b>
		<button type="button" onclick="redirect4()">Delete course</button>

</section>

</body>

</html>
<!-- -old one down -->


</body>

</html>