<!DOCTYPE html>
<html>
<head>
<script th:inline="javascript">

	/*<![CDATA[*/
	function goBack() {
  window.history.back();
 
}	
	
	/*]]>*/
</script>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
.butt {
	position: absolute;
	left: 80%;
	top: 80%;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
	
}

th {
    background-color: Black;
    color: white;
} 
table { table-layout: fixed; }
td { width: 33%; }
  </style>
</head>
<body>



<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
	<li><a href="#" onclick="alert('You have succesfully logged out.');window.location.href = 'http://localhost:8080/logInStudent';">Log Out</a></li>
    <li><a href="#" onclick="goBack()">Profile</a></li>
    <li class="active"><a href="#">View Courses</a></li>

  </ul>
</nav>

	<table class="table" id="customers">
		<thead class="thead-dark">
			<tr>
					<th scope="col">Title</th>
					<th scope="col">Evaluation Form</th>
					<th scope="col">Credit Points</th>
					<th scope="col">Prerequisites</th>
					<th scope="col">Objective</th>
					<th scope="col">Content</th>
					<th scope="col">Author</th>
			</tr>
		</thead>
		</table>
		<table  th:block class="table" th:each="course : ${allCourses}">
		<tbody>
			<tr>
				<td scope="row" th:text="${course.getTitle()}"></td>
				<td scope="row" th:text="${course.getEvaluationForm()}"></td>
				<td scope="row" th:text="${course.getCP()}"></td>
				<td scope="row" th:text="${course.getPrerequisites()}"></td>
				<td scope="row" th:text="${course.getObjective()}"></td>
				<td scope="row" th:text="${course.getContent()}"></td>
				<td scope="row" th:text="${course.getProfessor().getName()}"></td>
			</tr>
		</tbody>
	</table>
	</form>
</div>

</body>
</html>
