<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.topside {
	position: absolute;
	left: 3%;
	top: 15%;
}

.butt {
	position: absolute;
	left: 400%;
	top: 100%;
}


.butt2 {
	position: absolute;
	left: 10%;
	top: 100%;
}
</style>
<title>Student View</title>
</head>
<body>

	<nav class="navbar navbar-inverse" data-spy="affix"
		data-offset-top="197">
		<ul class="nav navbar-nav">
			<li><a href="#"
				onclick="window.location.href = 'http://localhost:8080/logInStudent';">Log
					Out</a></li>
			<li class="active"><a href="#">Profile</a></li>
			<li><a href="#"
				onclick="window.location.href = 'http://localhost:8080/showAllCoursesForStudent';">View
					Courses</a></li>
		</ul>
	</nav>
	<font size="6" color="black">Welcome, </font><font th:text="${name}" size="6" color="black"></font>
	<br>

	<div class="topside">
		<form class="AssignCourseToStudent" action="#"
			th:action="@{/studentView/__${id}__}" th:object="${course}"
			method="post">
			Courses:
			<!--   <select name="selectCourse" style="width: 400px;">
				<th:block th:each="course : ${AssignCourse}">
					<option th:text="${course.getTitle()}" th:value="*{id}"  th:selected="${course}"></option>
			</select>
			</th:block> -->
			<th:block th:each="course : ${AssignCourse}">
				<input type="radio" th:text="${course.getTitle()}" th:value="${id}">
			</th:block>
			<div class="butt">
				<button style="width: 100px;" type="submit"
					onclick="alert('You are successfully assigned.');">Assign
					me to course.</button>
			</div>
	
			<div class="butt2">
				<button style="width: 200px;" type="button"
					onclick="window.location.href = 'http://localhost:8080/showAllCoursesForStudent';">
					Read course info</button>
			</div>
		</form>
	</div>
</body>
</html>