<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:each="student : ${newStudent}">
	<p th:text="${student.getName()}"/>
	<p th:text="${student.getAge()}"/>
	<p th:text="${student.getEmail()}"/>
	<p th:text="${student.getPassword()}"/>
</th:block>


</body>
</html>