<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Grades</title>
<script th:inline="javascript">
	/*<![CDATA[*/
	function goBack() {
		window.history.back();
	}
	/*]]>*/
</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function send() {
		var id = /*[[${id}]]*/;
		window.location.href = "http://localhost:8080/sendemail/"+id;
	}
	/*]]>*/
</script>
<style>
.butt {
	position: absolute;
	left: 11%;
	top: 3%;
}

table, td {
	border: 1px solid black;
}

.E-Mail {
	position: fixed;
	height: 100px;
	width: 100px;
	left: 80%;
	top: 80%;
	margin-top: -50px;
	margin-left: -50px;
}

.Export {
	position: fixed;
	height: 100px;
	width: 100px;
	left: 85%;
	top: 80%;
	margin-top: -50px;
	margin-left: -50px;
}

.Save {
	position: fixed;
	height: 100px;
	width: 100px;
	left: 91.5%;
	top: 80%;
	margin-top: -50px;
	margin-left: -50px;
	color: green;
}
</style>

</head>
<body>
	<p>
		Logged in as <b th:text="${name}"></b>
	</p>
	<h1>Grades:</h1>

	<form action="#" th:action="@{/grades/}+ ${id}" th:object="${dataToEvaluate}" method="post">
		<table id="Grades">
			<tbody>
				<tr>
					<th:block th:each="info, itemStat : *{listOfInfoForView}">
						<td th:text=${info.getStudentName()}></td>
						<td th:text=${courseName}></td>
						<td><input type="number" name="grades" min="0" max="10"
							th:field="*{listOfInfoForView[__${itemStat.index}__].grade}"/></td>
					</th:block>
				</tr>
			</tbody>
		</table>

		<div class="E-Mail">
			<button type="button" name="email" value="email"
				onclick="send()">E-Mail</button>
		</div>
		<div class="Export">
			<button type="submit" name="export" value="submit"
				onclick="alert('Grades have been exported sucsessfully')">Export
				Grades</button>
		</div>
		<div class="Save">
			<button type="submit" name="save" value="save"
				onclick="alert('Grades have been saved sucsessfully')">Save</button>
		</div>
  </form>
</body>
</html>