<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Professor Control Panel</title>
<style>
.butt1 {
	position: absolute;
	left: 15%;
	top: 3%;
}

.title {
	left: 18%;
	top: 16%;
}
.title2 {
	left: 12%;
	top: 16%;
}
</style>
</head>
<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	function redirect1(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/grades/'+id;
	}	
	/*]]>*/
	/*<![CDATA[*/
	function redirect2(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/professorCoursesView/'+id;
	}
	/*]]>*/
	/*<![CDATA[*/
	function redirect3(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/professorUpload/'+id;
	}	
	/*]]>*/
	/*<![CDATA[*/
	function redirect4(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/apacheDel/'+id;
	}	
	/*]]>*/
	
	</script>


	<font size="6" color="black">Hello, </font>
	<p>
		<font th:text="${name}" size="10" color="black"></font>
	</p>
	<form th:action="@{/professorCoursesView/__${id}__}">
		<input type="button" onclick="redirect2()" value="Create new course" /><br>
		<button type="button" onclick="redirect1()">Grades</button>
		<button type="button" onclick="redirect3()">Upload course
			information</button>
		<font class=title2>My course is: </font> <b><font class=title
			th:text="${title}"></font></b>
		<button type="button" onclick="redirect4()">Delete course</button>
		<div class="butt1">
			<button style="width: 100px;" type="button"
				onclick="alert('You have successfully logged out.');window.location.href = 'http://localhost:8080/logInProfessor';">Logout</button>
		</div>

	</form>
</body>

</html>