<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:inline="javascript">
	/*<![CDATA[*/
	function redirect1(){
		var id = /*[[${id}]]*/;
		window.location.href = 'http://localhost:8080/apache/'+id;
	}	
	/*]]>*/
	</script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	function goBack() {
  window.history.back();
}	
	/*]]>*/
</script>
<style>
		.butt{
    position:absolute;
    left:20%;
    top:90%;
    
}
</style>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>

	<div>
		<form method="post" enctype="multipart/form-data" th:action="@{/professorUpload/__${id}__}">
			Upload course
			<table>
				<tr><td></td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" onclick="redirect1()" value="Upload" /></td></tr>
				<tr><td></td><td><input type="button" style="width: 200px;" onclick="goBack()" value="Back to control panel" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>
</body>
</html>