<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
	/*<![CDATA[*/
	function goBack() {
  window.history.back();
}	
	/*]]>*/
</script>
<style>
		.butt{
    position:absolute;
    left:11%;
    top:3%;
    
}
</style>
</head>
<body>
<form action="/showAllCoursesForStudent">
<h1>Courses</h1>
<p>title, evaluation form, credit points, prerequisities, objective, content, author </p>
<th:block th:each="course : ${allCourses}">
	<p th:text="${course.getTitle() + ' ' 
	+ course.getEvaluationForm() + ' ' + course.getCP() + ' ' + course.getPrerequisites() + '
	 ' + course.getObjective() + ' ' + course.getContent() + ' ' + course.getProfessor().getName()}"/>
</th:block>

<div class="butt"><button style="width: 200px;" type="button" onclick="goBack()">Back to student view</button></div>
</form>
</body>
</html>