<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.topside {
	position: absolute;
	left: 3%;
	top: 15%;
}

.butt {
	position: absolute;
	left: 110%;
	top: 180%;
}

.butt1 {
	position: absolute;
	left: 110%;
	top: -280%;
}

.butt2 {
	position: absolute;
	left: 10%;
	top: 100%;
}
</style>
<title>Student View</title>
</head>
<body>
	<font size="6" color="black">Hello, </font>
	<p>
		<font th:text="${name}" size="10" color="black"></font>
	</p>
	<div class="topside">
		<form class="AssignCourseToStudent" action="#"
			th:action="@{/studentView/__${id}__}" th:object="${course}"
			method="post">
			Courses:<!--   <select name="selectCourse" style="width: 400px;">
				<th:block th:each="course : ${AssignCourse}">
					<option th:text="${course.getTitle()}" th:value="*{id}"  th:selected="${course}"></option>
			</select>
			</th:block> -->
			<th:block th:each="course : ${AssignCourse}">
			<input type = "radio" th:text="${course.getTitle()}" th:value="${id}" >
			</th:block>
			<div class="butt">
				<button style="width: 100px;" type="submit"
					onclick="alert('You are successfully assigned.');">Assign
					me to course.</button>
			</div>
			<div class="butt1">
				<button style="width: 100px;" type="button"
					onclick="alert('You have successfully logged out.');window.location.href = 'http://localhost:8080/logInStudent';">Logout</button>
			</div>
			<div class="butt2">
				<button style="width: 200px;" type="button"
					onclick="window.location.href = 'http://localhost:8080/showAllCoursesForStudent';">
					Read course info</button>
			</div>
		</form>
	</div>	
	</body>
</html>