<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:each="professor : ${newProfessor}">
	<p th:text="${professor.getName()}"/>
	<p th:text="${professor.getAge()}"/>
	<p th:text="${professor.getEmail()}"/>
	<p th:text="${professor.getPassword()}"/>
	<p th:text="${professor.getMathingPassword()}"/>
</th:block>


</body>
</html>